<div class="footer-column">
  <h2 class="footer-column__title">Каталог</h2>
  <ul class="footer-column__list" [class.footer-column__list--uppercase]="textTransform">
    <li class="footer-column__item">Семена</li>
    <li class="footer-column__item">Саженцы</li>
    <li class="footer-column__item">Земляника</li>
    <li class="footer-column__item">Луковичные и многолетники</li>
    <li class="footer-column__item">Удобрения и агрохимия</li>
    <li class="footer-column__item">Грунты и субстраты</li>
    <li class="footer-column__item">Инвентарь</li>
  </ul>
</div>
