@import "~src/assets/styles/scss/variables";

.header {
  &__top {
    box-shadow: $shadow-thin;
    padding: 16px 0;
  }
  &__middle {
    padding: 37px 0;
  }
  &__contacts {
    margin-right: 80px;
  }

  &__bottom {
    position: relative;
    z-index: 5;
  }
}

.main-logo {
  cursor: pointer;
}

.nav-list {
  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
    &:last-child {
      font-weight: 700;
      color: $color-red;
    }
  }
  &__link {
  }
}

.socials-list {
  &__item {
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__link {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-in;
    &:hover {
      transform: scale(1.1);
    }
    &--vk {
      background-image: url($base64 + "PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjcwMSAwLjA4MzM0MzVINy4zMDk5QzEuNDcyMiAwLjA4MzM0MzUgMC4wODMzMzQgMS40NzIyMSAwLjA4MzMzNCA3LjI5OTAzVjEzLjY5MDFDMC4wODMzMzQgMTkuNTI3NyAxLjQ2MTQgMjAuOTE2NyA3LjI5OTAyIDIwLjkxNjdIMTMuNjkwMUMxOS41Mjc4IDIwLjkxNjcgMjAuOTE2NyAxOS41Mzg2IDIwLjkxNjcgMTMuNzAwOVY3LjMwOTkxQzIwLjkxNjcgMS40NzIyMSAxOS41Mzg2IDAuMDgzMzQzNSAxMy43MDEgMC4wODMzNDM1Wk0xNi45MDE5IDE0Ljk0ODhIMTUuMzgyOEMxNC44MDc4IDE0Ljk0ODggMTQuNjM0MSAxNC40ODIyIDEzLjYwMzMgMTMuNDUxNEMxMi43MDI3IDEyLjU4MzMgMTIuMzIyOSAxMi40NzQ4IDEyLjA5NTEgMTIuNDc0OEMxMS43ODA0IDEyLjQ3NDggMTEuNjkzNiAxMi41NjE2IDExLjY5MzYgMTIuOTk1NlYxNC4zNjI4QzExLjY5MzYgMTQuNzMxOCAxMS41NzQyIDE0Ljk0ODggMTAuNjA4NSAxNC45NDg4QzkuNjcxNDMgMTQuODg1OCA4Ljc2MjcgMTQuNjAxMSA3Ljk1NzE3IDE0LjExODJDNy4xNTE2NCAxMy42MzUyIDYuNDcyMzUgMTIuOTY3OSA1Ljk3NTI2IDEyLjE3MUM0Ljc5NTE2IDEwLjcwMjEgMy45NzQwNyA4Ljk3ODIgMy41NzcyOCA3LjEzNjI3QzMuNTc3MjggNi45MDg0MSAzLjY2NDA2IDYuNzAyMjMgNC4wOTgxMSA2LjcwMjIzSDUuNjE3MTlDNi4wMDc4MSA2LjcwMjIzIDYuMTQ4OSA2Ljg3NTg1IDYuMzAwNzggNy4yNzczNUM3LjAzODYgOS40NDc0NyA4LjI5NzMzIDExLjMzNTUgOC44MDcyOSAxMS4zMzU1QzkuMDAyNiAxMS4zMzU1IDkuMDg5MzkgMTEuMjQ4NyA5LjA4OTM5IDEwLjc2MDRWOC41MjUxNUM5LjAyNDI4IDcuNTA1MjIgOC40ODE3NyA3LjQxODM3IDguNDgxNzcgNy4wNDk0OUM4LjQ4ODkxIDYuOTUyMTYgOC41MzM3MSA2Ljg2MTQ2IDguNjA2NjQgNi43OTY2MkM4LjY3OTU3IDYuNzMxNzggOC43NzQ5MSA2LjY5NzkyIDguODcyNCA2LjcwMjIzSDExLjI1OTZDMTEuNTg1MSA2LjcwMjIzIDExLjY5MzYgNi44NjQ5OSAxMS42OTM2IDcuMjU1NjFWMTAuMjcyMUMxMS42OTM2IDEwLjU5NzcgMTEuODM0NiAxMC43MDYxIDExLjkzMjMgMTAuNzA2MUMxMi4xMjc2IDEwLjcwNjEgMTIuMjc5NSAxMC41OTc3IDEyLjYzNzYgMTAuMjM5NkMxMy40MDcgOS4zMDEyNCAxNC4wMzU3IDguMjU1ODMgMTQuNTAzOSA3LjEzNjI3QzE0LjU1MTcgNy4wMDE1NiAxNC42NDIzIDYuODg2MiAxNC43NjE4IDYuODA3ODJDMTQuODgxMyA2LjcyOTQ0IDE1LjAyMzIgNi42OTIzNSAxNS4xNjU4IDYuNzAyMjNIMTYuNjg0OUMxNy4xNDA2IDYuNzAyMjMgMTcuMjM4MyA2LjkzMDA5IDE3LjE0MDYgNy4yNTU2MUMxNi41ODc5IDguNDkzNDQgMTUuOTA0IDkuNjY4NDMgMTUuMTAwNyAxMC43NjA0QzE0LjkzOCAxMS4wMSAxNC44NzI5IDExLjE0MDIgMTUuMTAwNyAxMS40MzMxQzE1LjI1MjYgMTEuNjYxIDE1Ljc4NDMgMTIuMTA1OSAxNi4xNDI0IDEyLjUyOTFDMTYuNjYzMiAxMy4wNDg2IDE3LjA5NTcgMTMuNjQ5NyAxNy40MjI3IDE0LjMwODZDMTcuNTUyOSAxNC43MzE4IDE3LjMzNTkgMTQuOTQ4OCAxNi45MDE5IDE0Ljk0ODhaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
    }

    &--ok {
      background-image: url($base64 + "PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMSAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjUwOTkgOC43NTE4OEMxMS41MTI1IDguNzQ4MjIgMTIuMzExIDcuOTQyODEgMTIuMzA3NCA2LjkzODAzQzEyLjMwMzcgNS45MzI4MyAxMS41MDM1IDUuMTMzIDEwLjUwMDQgNS4xMzIxNEM5LjQ4ODk5IDUuMTMxMDcgOC42ODEyMiA1Ljk0NTcyIDguNjg4OTUgNi45NTk5NUM4LjY5NjQ3IDcuOTYxMDcgOS41MDQwMyA4Ljc1NTUzIDEwLjUwOTkgOC43NTE4OFoiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik0xMC41IDAuMDQ5NTkxMUM0LjcwMDk5IDAuMDQ5NTkxMSAwIDQuNzUwOCAwIDEwLjU0OTZDMCAxNi4zNDg0IDQuNzAwOTkgMjEuMDQ5NiAxMC41IDIxLjA0OTZDMTYuMjk5IDIxLjA0OTYgMjEgMTYuMzQ4NCAyMSAxMC41NDk2QzIxIDQuNzUwOCAxNi4yOTkgMC4wNDk1OTExIDEwLjUgMC4wNDk1OTExWk0xMC41MTUgMy4yNDI2N0MxMi41NjAzIDMuMjQ4MjUgMTQuMjAxOCA0LjkyMTE2IDE0LjE5MTMgNi45ODg5NEMxNC4xODEgOS4wMDkwMiAxMi41MTI2IDEwLjY0NjMgMTAuNDcwOCAxMC42Mzk0QzguNDQ5ODQgMTAuNjMyNSA2Ljc5MjQgOC45NTcwMyA2LjgwNDQzIDYuOTMyODdDNi44MTU4MiA0Ljg4NjU3IDguNDc0MTIgMy4yMzcwOCAxMC41MTUgMy4yNDI2N1pNMTQuNjU3NSAxMi4wOTI1QzE0LjIwNTIgMTIuNTU2OCAxMy42NjA4IDEyLjg5MjggMTMuMDU2MyAxMy4xMjcyQzEyLjQ4NDggMTMuMzQ4NyAxMS44NTg2IDEzLjQ2MDIgMTEuMjM4NiAxMy41MzQ1QzExLjMzMjUgMTMuNjM2MyAxMS4zNzY1IDEzLjY4NjQgMTEuNDM1IDEzLjc0NDhDMTIuMjc2MiAxNC41OTA2IDEzLjEyMTYgMTUuNDMyMSAxMy45NjAxIDE2LjI4MDNDMTQuMjQ1OCAxNi41Njk0IDE0LjMwNTQgMTYuOTI3OCAxNC4xNDgxIDE3LjI2MzZDMTMuOTc2NCAxNy42MzA5IDEzLjU5MTIgMTcuODcyNCAxMy4yMTM0IDE3Ljg0NjRDMTIuOTc0IDE3LjgyOTkgMTIuNzg3MyAxNy43MTExIDEyLjYyMTcgMTcuNTQ0MUMxMS45ODY2IDE2LjkwNTIgMTEuMzM5NiAxNi4yNzc3IDEwLjcxNzggMTUuNjI2OEMxMC41MzYzIDE1LjQzNzMgMTAuNDQ5NSAxNS40NzM0IDEwLjI4OTUgMTUuNjM3OUM5LjY1MDc2IDE2LjI5NTcgOS4wMDE1MyAxNi45NDMgOC4zNDg2NSAxNy41ODY5QzguMDU1NDEgMTcuODc2MSA3LjcwNjUyIDE3LjkyODUgNy4zNjYyMiAxNy43NjMxQzcuMDA0NjUgMTcuNTg4MiA2Ljc3NDc4IDE3LjIxODkgNi43OTI0IDE2Ljg0NzRDNi44MDQ4NiAxNi41OTY5IDYuOTI4MTcgMTYuNDA0OSA3LjEwMDQ3IDE2LjIzMzRDNy45MzMzOCAxNS40MDIzIDguNzYzNzEgMTQuNTY4NSA5LjU5NDI2IDEzLjczNTRDOS42NDk0NyAxMy42ODAxIDkuNzAwNiAxMy42MjE1IDkuNzgwNzQgMTMuNTM1NkM4LjY0NzkyIDEzLjQxNzIgNy42MjYzOCAxMy4xMzgzIDYuNzUxOCAxMi40NTQ1QzYuNjQzMDkgMTIuMzY5NCA2LjUzMTE2IDEyLjI4NzQgNi40MzIzNCAxMi4xOTJDNi4wNDkyOSAxMS44MjQ0IDYuMDEwODMgMTEuNDAzMSA2LjMxMzUzIDEwLjk2OTZDNi41NzI4NCAxMC41OTg0IDcuMDA3NjYgMTAuNDk5MSA3LjQ1OTg5IDEwLjcxMjRDNy41NDc1NCAxMC43NTM1IDcuNjMwOSAxMC44MDU1IDcuNzEwODEgMTAuODYwNUM5LjM0MDU0IDExLjk4MDQgMTEuNTc5NSAxMi4wMTExIDEzLjIxNTcgMTAuOTEwNUMxMy4zNzc3IDEwLjc4NjggMTMuNTUxMSAxMC42ODQ5IDEzLjc1MTkgMTAuNjMzNkMxNC4xNDIxIDEwLjUzMyAxNC41MDY0IDEwLjY3NjggMTQuNzE1NyAxMS4wMTg0QzE0Ljk1NTIgMTEuNDA4NyAxNC45NTI0IDExLjc4OTQgMTQuNjU3NSAxMi4wOTI1WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==");
    }

    &--telegram {
      background-image: url($base64 + "PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0LjUxNzYgNi42MzgzNUMxNC41MjE1IDYuNjM4MzUgMTQuNTI2OCA2LjYzODM1IDE0LjUzMiA2LjYzODM1QzE0LjY2OTIgNi42MzgzNSAxNC43OTY1IDYuNjgxMDEgMTQuOTAwOCA2Ljc1NDUxTDE0Ljg5ODggNi43NTMyQzE0Ljk3NSA2LjgxOTQ4IDE1LjAyNjIgNi45MTI2NyAxNS4wMzg2IDcuMDE3NjdWNy4wMTk2M0MxNS4wNTE4IDcuMDk5NyAxNS4wNTkgNy4xOTE1NyAxNS4wNTkgNy4yODU0MkMxNS4wNTkgNy4zMjgwNyAxNS4wNTc3IDcuMzcwMDcgMTUuMDU0NCA3LjQxMjA3VjcuNDA2MTdDMTQuOTA2NyA4Ljk2MDgyIDE0LjI2NjIgMTIuNzMxIDEzLjk0MDcgMTQuNDcxNEMxMy44MDI5IDE1LjIwODMgMTMuNTMxOSAxNS40NTUxIDEzLjI2OTQgMTUuNDc4N0MxMi42OTkxIDE1LjUzMTkgMTIuMjY2IDE1LjEwMiAxMS43MTM0IDE0LjczOThDMTAuODQ4NSAxNC4xNzIxIDEwLjM1OTYgMTMuODE5IDkuNTIwMjIgMTMuMjY1OEM4LjU0OTYzIDEyLjYyNzMgOS4xNzg5NyAxMi4yNzQ5IDkuNzMxNTMgMTEuNzAxM0M5Ljg3NjU2IDExLjU1MDQgMTIuMzkwNyA5LjI2MzM1IDEyLjQzOTkgOS4wNTU5OEMxMi40NDI1IDkuMDQzNTEgMTIuNDQzOCA5LjAyOTczIDEyLjQ0MzggOS4wMTUyOUMxMi40NDM4IDguOTY0MSAxMi40MjQ4IDguOTE3NTEgMTIuMzkzOSA4Ljg4MjA3QzEyLjM1OTggOC44NTk3NiAxMi4zMTcyIDguODQ3MjkgMTIuMjcyNSA4Ljg0NzI5QzEyLjI0MyA4Ljg0NzI5IDEyLjIxNDggOC44NTMyIDEyLjE4ODUgOC44NjMwNEwxMi4xODk4IDguODYyMzhDMTIuMTAzMiA4Ljg4MjA3IDEwLjcyMTYgOS43OTUxNCA4LjA0NDk3IDExLjYwMTZDNy43NTI5NCAxMS44MzE5IDcuMzg0MTMgMTEuOTc3NiA2Ljk4MjUgMTEuOTk0N0g2Ljk3ODU2QzYuNDA5NTkgMTEuOTI1OCA1Ljg5MzEzIDExLjc5OTEgNS40MDI5MSAxMS42MTg2TDUuNDUxNDcgMTEuNjM0NEM0LjgzNTkxIDExLjQzMzYgNC4zNDcgMTEuMzI3OSA0LjM4OSAxMC45ODhDNC40MTEzMSAxMC44MTEyIDQuNjU1IDEwLjYzMDMgNS4xMjAwNiAxMC40NDUzQzcuOTg0ODEgOS4xOTcwNyA5Ljg5NTE2IDguMzc0MzUgMTAuODUxMSA3Ljk3NzFDMTEuOTA1NyA3LjQxNzMyIDEzLjEyODMgNi45NTY2MyAxNC40MTM5IDYuNjU4MDRMMTQuNTE2OSA2LjYzNzdMMTQuNTE3NiA2LjYzODM1Wk0xMC40NTQxIDAuNzIyMjZDNS4wMDU4OCAwLjczNTM4NSAwLjU5MzkwNiA1LjE1NTIzIDAuNTkzOTA2IDEwLjYwNTRDMC41OTM5MDYgMTYuMDYzNCA1LjAxODM0IDIwLjQ4ODUgMTAuNDc3IDIwLjQ4ODVDMTUuOTM1NyAyMC40ODg1IDIwLjM2MDIgMTYuMDY0MSAyMC4zNjAyIDEwLjYwNTRDMjAuMzYwMiA1LjE1NTIzIDE1Ljk0ODIgMC43MzUzODUgMTAuNTAxMyAwLjcyMjI2SDEwLjVDMTAuNDg0NyAwLjcyMjI2IDEwLjQ2OTQgMC43MjIyNiAxMC40NTQxIDAuNzIyMjZaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
    }

    &--viber {
      background-image: url($base64 + "PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMSAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMC41IDAuMDQ5NTkxMUMxNi4yOTkgMC4wNDk1OTExIDIxIDQuNzUwNiAyMSAxMC41NDk2QzIxIDE2LjM0ODYgMTYuMjk5IDIxLjA0OTYgMTAuNSAyMS4wNDk2QzQuNzAxMDEgMjEuMDQ5NiAwIDE2LjM0ODYgMCAxMC41NDk2QzAgNC43NTA2IDQuNzAxMDEgMC4wNDk1OTExIDEwLjUgMC4wNDk1OTExWk0xMS4xMjg5IDQuMzI2NjVDMTEuODQyOCA0LjQxNTc2IDEyLjQxOTggNC41ODc3NCAxMy4wNTI4IDQuODk2NTFDMTMuNjc1NCA1LjIwMTE1IDE0LjA3MzkgNS40ODkxOSAxNC42MDExIDYuMDEzNDdDMTUuMDk1IDYuNTA4NzUgMTUuMzY5IDYuODgzODcgMTUuNjU5NSA3LjQ2NjE3QzE2LjA2NDMgOC4yNzg1MiAxNi4yOTQ2IDkuMjQ0MjEgMTYuMzM0MSAxMC4zMDczQzE2LjM0ODYgMTAuNjY5OSAxNi4zMzgyIDEwLjc1MDggMTYuMjU1MiAxMC44NTQ0QzE2LjA5NzUgMTEuMDU1NCAxNS43NTA4IDExLjAyMjIgMTUuNjMyNiAxMC43OTY0QzE1LjU5NTIgMTAuNzIxNyAxNS41ODQ4IDEwLjY1NzUgMTUuNTcyNCAxMC4zNjc0QzE1LjU1MTYgOS45MjE4NCAxNS41MjA1IDkuNjMzOCAxNS40NTgyIDkuMjg5NzlDMTUuMjEzMyA3Ljk0MDc0IDE0LjU2NTggNi44NjMxMyAxMy41MzIyIDYuMDkwMTVDMTIuNjcwOSA1LjQ0MzYxIDExLjc4MDUgNS4xMjg2IDEwLjYxNDIgNS4wNjAyM0MxMC4yMTk4IDUuMDM3NDMgMTAuMTUxMyA1LjAyMjk1IDEwLjA2MjEgNC45NTQ1NkM5Ljg5NjAyIDQuODI0IDkuODg3NzYgNC41MTczMSAxMC4wNDc1IDQuMzc0MzJDMTAuMTQ1MSA0LjI4NTIgMTAuMjEzNiA0LjI3Mjc2IDEwLjU1MTkgNC4yODMxMkMxMC43MjgzIDQuMjg5MzQgMTAuOTg3NyA0LjMxMDA3IDExLjEyODkgNC4zMjY2NVpNNi4zODQ0MSA0LjU1MDQ2QzYuNDU3MDcgNC41NzUzMiA2LjU2OTE0IDQuNjMzMzQgNi42MzM0OSA0LjY3NDc5QzcuMDI3NzkgNC45MzU5MSA4LjEyNTcgNi4zMzg4MyA4LjQ4NDc2IDcuMDM5MjhDOC42OTAyMSA3LjQzOTIyIDguNzU4NzEgNy43MzU1NiA4LjY5NDQgNy45NTUyM0M4LjYyNzk1IDguMTkxNDcgOC41MTc5OSA4LjMxNTgxIDguMDI2MSA4LjcxMTYzQzcuODI4OTMgOC44NzExOCA3LjY0NDE4IDkuMDM0OSA3LjYxNTE1IDkuMDc4NDNDNy41NDA0MyA5LjE4NjE5IDcuNDgwMjIgOS4zOTc1NSA3LjQ4MDIyIDkuNTQ2NzVDNy40ODIzMyA5Ljg5MjgzIDcuNzA2NDggMTAuNTIwNyA4LjAwMTIgMTEuMDAzNkM4LjIyOTQ3IDExLjM3ODcgOC42MzgzMSAxMS44NTk0IDkuMDQzMDMgMTIuMjI4M0M5LjUxODMxIDEyLjY2MzUgOS45Mzc1NCAxMi45NTk4IDEwLjQxMDcgMTMuMTk0QzExLjAxODggMTMuNDk2NiAxMS4zOTA0IDEzLjU3MzIgMTEuNjYyMyAxMy40NDY4QzExLjczMDcgMTMuNDE1NyAxMS44MDM0IDEzLjM3NDMgMTEuODI2MiAxMy4zNTU3QzExLjg0NyAxMy4zMzcgMTIuMDA2OCAxMy4xNDIyIDEyLjE4MTEgMTIuOTI2N0MxMi41MTczIDEyLjUwMzkgMTIuNTk0MSAxMi40MzU2IDEyLjgyNDUgMTIuMzU2OEMxMy4xMTcyIDEyLjI1NzMgMTMuNDE2IDEyLjI4NDMgMTMuNzE2OSAxMi40Mzc2QzEzLjk0NTMgMTIuNTU1NyAxNC40NDMzIDEyLjg2NDUgMTQuNzY1IDEzLjA4ODNDMTUuMTg4NCAxMy4zODQ3IDE2LjA5MzMgMTQuMTIyNCAxNi4yMTU4IDE0LjI2OTZDMTYuNDMxNiAxNC41MzQ4IDE2LjQ2OSAxNC44NzQ2IDE2LjMyMzcgMTUuMjQ5OEMxNi4xNzAxIDE1LjY0NTUgMTUuNTcyNCAxNi4zODc0IDE1LjE1NTIgMTYuNzA0NUMxNC43Nzc1IDE2Ljk5MDUgMTQuNTA5OCAxNy4xMDAzIDE0LjE1NjkgMTcuMTE2OUMxMy44NjY0IDE3LjEzMTQgMTMuNzQ2IDE3LjEwNjUgMTMuMzc0NSAxNi45NTMyQzEwLjQ2MDYgMTUuNzUzMyA4LjEzNDAxIDEzLjk2MjkgNi4yODY4NSAxMS41MDNDNS4zMjE3OSAxMC4yMTgyIDQuNTg3MDggOC44ODU3MiA0LjA4NDggNy41MDM0OUMzLjc5MjE5IDYuNjk3MzggMy43Nzc2OCA2LjM0NzEzIDQuMDE4NCA1LjkzNDc0QzQuMTIyMTkgNS43NjA2OCA0LjU2NDI1IDUuMzI5NjQgNC44ODU5NCA1LjA4OTI2QzUuNDIxNDIgNC42OTEzNyA1LjY2ODM4IDQuNTQ0MjMgNS44NjU1NSA0LjUwMjc5QzYuMDAwNDUgNC40NzM3OCA2LjIzNDk2IDQuNDk2NTggNi4zODQ0MSA0LjU1MDQ2Wk0xMS4yNzIgNS44MjkwNUMxMi41MzE5IDYuMDEzNDcgMTMuNTA3MyA2LjU5Nzg5IDE0LjE0NjUgNy41NDdDMTQuNTA1NiA4LjA4MTY1IDE0LjcyOTcgOC43MDk1NSAxNC44MDY1IDkuMzgzMDRDMTQuODMzNSA5LjYyOTY1IDE0LjgzMzUgMTAuMDc5MyAxNC44MDQ1IDEwLjE1NEMxNC43Nzc1IDEwLjIyNDQgMTQuNjkwMyAxMC4zMTk3IDE0LjYxNTYgMTAuMzU5MUMxNC41MzQ3IDEwLjQwMDUgMTQuMzYyNCAxMC4zOTY0IDE0LjI2NjkgMTAuMzQ2N0MxNC4xMDcxIDEwLjI2NTggMTQuMDU5NCAxMC4xMzc0IDE0LjA1OTQgOS43ODkyMkMxNC4wNTk0IDkuMjUyNTEgMTMuOTIwMyA4LjY4Njc1IDEzLjY3OTYgOC4yNDc0MkMxMy40MDU2IDcuNzQ1OTIgMTMuMDA3MSA3LjMzMTQ4IDEyLjUyMTUgNy4wNDM0MkMxMi4xMDQzIDYuNzk0NzUgMTEuNDg3OSA2LjYxMDMyIDEwLjkyNTUgNi41NjQ3NEMxMC43MjIxIDYuNTQ4MTUgMTAuNjEgNi41MDY2OSAxMC41MzMyIDYuNDE3NTlDMTAuNDE0OSA2LjI4Mjg4IDEwLjQwMjUgNi4xMDA1MyAxMC41MDIxIDUuOTQ5MjZDMTAuNjEgNS43ODE0IDEwLjc3NiA1Ljc1NDQ0IDExLjI3MiA1LjgyOTA1Wk0xMS43MTQxIDcuMzkzNjNDMTIuMTIzIDcuNDgwNjcgMTIuNDM2NCA3LjYzNjEgMTIuNzA0MSA3Ljg4Njg1QzEzLjA0ODYgOC4yMTIxOCAxMy4yMzc1IDguNjA1OTMgMTMuMzIwNSA5LjE3MTY3QzEzLjM3NjUgOS41NDA1NCAxMy4zNTM3IDkuNjg1NTkgMTMuMjIzIDkuODA1NzlDMTMuMTAwNSA5LjkxNzY5IDEyLjg3NDMgOS45MjE4MyAxMi43MzczIDkuODE2MTRDMTIuNjM3NyA5Ljc0MTUzIDEyLjYwNjYgOS42NjI4IDEyLjU4MzcgOS40NDkzN0MxMi41NTY4IDkuMTY1NDUgMTIuNTA3IDguOTY2NTIgMTIuNDIxOSA4Ljc4MjA3QzEyLjIzOTIgOC4zOTA0MSAxMS45MTc1IDguMTg3MzMgMTEuMzczOCA4LjEyMTAyQzExLjExODUgOC4wODk5MyAxMS4wNDE3IDguMDYwOTIgMTAuOTU4NyA3Ljk2MzU0QzEwLjgwNzIgNy43ODMyNCAxMC44NjUzIDcuNDkxMDQgMTEuMDc0OSA3LjM4MzI4QzExLjE1MzggNy4zNDM5MSAxMS4xODcgNy4zMzk3NiAxMS4zNjEzIDcuMzUwMTNDMTEuNDY5MiA3LjM1NjM0IDExLjYyOTEgNy4zNzQ5NyAxMS43MTQxIDcuMzkzNjNaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
    }

    &--youtube {
      background-image: url($base64 + "PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMCAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguMjgxMzEgMTAuNDc1OFY0LjYyNDAyTDEzLjMwMTIgNy41NTAyNEw4LjI4MTMxIDEwLjQ3NThaTTE5LjQ0NjkgMi43ODE5M0MxOS4yMjAyIDEuOTI4MTUgMTguNTc5OCAxLjI2Nzk2IDE3Ljc2NTkgMS4wMzQzM0wxNy43NDg2IDEuMDMwNEMxNS43MDM5IDAuNzYzOTYgMTMuMzM5IDAuNjExNzEgMTAuOTM4OSAwLjYxMTcxQzEwLjY5NDkgMC42MTE3MSAxMC40NTE1IDAuNjEzMDIyIDEwLjIwODggMC42MTYzMDNMMTAuMjQ2IDAuNjE1NjQ3QzEwLjAzOTggMC42MTMwMjIgOS43OTcwNyAwLjYxMTA1MyA5LjU1MzA5IDAuNjExMDUzQzcuMTUyOTcgMC42MTEwNTMgNC43ODY3OSAwLjc2MzMwMyAyLjQ2NDE2IDEuMDU3OTZMMi43NDIwOCAxLjAyOTA4QzEuOTExNTIgMS4yNjczIDEuMjcxMTQgMS45MjY4MyAxLjA0ODkzIDIuNzYzNTVMMS4wNDUwOSAyLjc4MDYyQzAuNzg4OTQyIDQuMTY0NjUgMC42NDI5MzcgNS43NTczNyAwLjY0MjkzNyA3LjM4NDg3QzAuNjQyOTM3IDcuNDQyNjIgMC42NDI5MzcgNy41MDAzNyAwLjY0MzU3NyA3LjU1NzQ2VjcuNTQ4MjdDMC42NDM1NzcgNy41OTY4MyAwLjY0MjkzNyA3LjY1NDU4IDAuNjQyOTM3IDcuNzEyMzNDMC42NDI5MzcgOS4zMzk4MyAwLjc4OTU4MiAxMC45MzE5IDEuMDY5NDMgMTIuNDc2MUwxLjA0NTA5IDEyLjMxNTlDMS4yNzE3OCAxMy4xNjk3IDEuOTEyMTYgMTMuODI5OSAyLjcyNjA3IDE0LjA2MzVMMi43NDMzNiAxNC4wNjc1QzQuNzg4MDcgMTQuMzMzOSA3LjE1Mjk3IDE0LjQ4NjEgOS41NTMwOSAxNC40ODYxQzkuNzk2NDMgMTQuNDg2MSAxMC4wMzk4IDE0LjQ4NDggMTAuMjgzMSAxNC40ODE2TDEwLjI0NiAxNC40ODIyQzEwLjQ1MjIgMTQuNDg0OCAxMC42OTU1IDE0LjQ4NjggMTAuOTM4OSAxNC40ODY4QzEzLjMzOTYgMTQuNDg2OCAxNS43MDUyIDE0LjMzNDYgMTguMDI3OCAxNC4wMzk5TDE3Ljc0OTkgMTQuMDY4OEMxOC41ODExIDEzLjgzMTIgMTkuMjIxNCAxMy4xNzEgMTkuNDQ0MyAxMi4zMzQzTDE5LjQ0ODEgMTIuMzE3MkMxOS43MDM2IDEwLjkzMzIgMTkuODQ5NiA5LjM0MDQ5IDE5Ljg0OTYgNy43MTM2NUMxOS44NDk2IDcuNjU1OSAxOS44NDk2IDcuNTk4MTUgMTkuODQ5IDcuNTQxMDVWNy41NDk1OEMxOS44NDkgNy41MDEwMiAxOS44NDk2IDcuNDQzMjcgMTkuODQ5NiA3LjM4NTUyQzE5Ljg0OTYgNS43NTgwMiAxOS43MDMgNC4xNjU5NiAxOS40MjMyIDIuNjIxOEwxOS40NDY5IDIuNzgxOTNaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
    }
  }
}

.form-search {
  position: relative;
  height: 56px;
  background-color: #E8E8E8;
  border-radius: 50px;

  &__loop {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  &__input {
    padding-left: 50px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: inherit;
    border: none;
    outline: none;
    font-size: 18px;

    &::placeholder {
      color: $color-gray;
    }
  }
}

$height-nav: 63px;
$padding-nav: 17px;

.main-nav {
  background-color: $color-green;
  height: $height-nav;
  border-radius: 8px;

  &__item {
    position: relative;
    padding: 0 $padding-nav;
    border: 1px solid transparent;

    &:first-child {
      border-radius: 10px 0 0 10px;
      &.main-nav__item--children {
        border-radius: 10px 0 0 0;
      }
    }
    &:last-child {
      border-radius: 0 10px 10px 0;
      &.main-nav__item--children {
        border-radius: 0 10px 0 0;
      }

      .main-nav__sub-list {
        right: -1px;
        left: auto;
      }
    }

    &:hover {
      .main-nav__sub-list.active {
        display: block;
      }

      .main-nav__link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.17);
      }
      background-color: $color-dark-green;
      border: 1px solid $color-darken-green;
      border-bottom: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    z-index: 1;

    &--triangle {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: -12px;
        width: 0;
        height: 0;
        transform: translateY(-50%);
        border-style: solid;
        border-width: 6px 4.5px 0 4.5px;
        border-color: #FFFFFF transparent transparent transparent;
      }
    }
  }

  &__triangle {
    position: relative;
    z-index: 1;
  }

  &__sub-list {
    display: none;
    position: absolute;
    top: 62px;
    left: -1px;
    padding: $padding-nav $padding-nav / 2 $padding-nav;
    min-width: 100%;
    background-color: $color-dark-green;
    border: 1px solid $color-darken-green;
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 14px;
  }

  &__sub-item {
    padding: 10px $padding-nav / 2;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $color-green;
    }
  }

  &__sub-link {
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
  }
}
